{{HEADER}}

#include "{{FILE}}.hpp"

{{CLASS}}::{{CLASS}}(void)
{
}

{{CLASS}}::{{CLASS}}({{CURSOR}})
{
}

{{CLASS}}::{{CLASS}}(const {{CLASS}} &copy)
{
}

{{CLASS}}::~{{CLASS}}(void)
{
}

{{CLASS}}	&{{CLASS}}::operator=(const {{CLASS}} &copy)
{
	return (*this);
}
