{{HEADER}}

#ifndef {{MACRO_GUARD}}
# define {{MACRO_GUARD}}

class {{CLASS}}
{
	public:
		{{CLASS}}(void);
		{{CLASS}}({{CURSOR}});
		{{CLASS}}(const {{CLASS}} &copy);
		virtual ~{{CLASS}}(void);

		{{CLASS}}	&operator=(const {{CLASS}} &copy);

	private:
};

#endif /* {{MACRO_GUARD}} */
